<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            <h4>Example 1</h4>
                <p v-if="name == 'Joe'">{{enter_message}}</p>
                <p v-else-if="name == 'Jill'">{{do_not_enter_message}}</p>
                <p v-else>No Message</p>
            <h4>Example 2</h4>
                <p v-if="name == 'Joe'" v-html="enter_message"></p>
                <p v-else-if="name == 'Jill'" v-html="do_not_enter_message"></p>
                <p v-else>No Message</p>
            <h4>Example 3</h4>
                <p v-show="name == 'Joe'">{{enter_message}}</p>
                <p v-show="name == 'Jill'">{{do_not_enter_message}}</p>
            <h4>Example 4</h4>
                <p v-html="  
                    name == 'Joe' ? enter_message :
                    name == 'Jill' ? do_not_enter_message : 'No Message'
                "></p>


        </div>   
        <script src="index.js"></script>
    </body>
</html>